{% extends 'core/base.html' %}



{% load staticfiles %}

{% block title_block %}
    Candidate register
{% endblock %}


{% block body_block %}
    <h1>Register page for the candidate</h1>

	{% if registered %}
		<strong>Thank you for registering as a candidate!</strong>
        <strong>Later add a redirect link!</strong>
	{% else %}
		<strong>Register here!</strong>
		<form id="user_form" method="post" action="{% url 'core:canRegister' %}"
			enctype="multipart/form-data">

			{% csrf_token %}


			{{ user_form.as_p }}

			{{ profile_form.as_p }}

			<input type="submit" name="submit" value="Register" />

		</form>
	{% endif %}
{% endblock %}
