{% extends 'core/base.html' %}


{% block title_block %}
    Connections
{% endblock %}

{% block connection_tag %}
    active
{% endblock %}

{% block body_block %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Connections</h1>
        <p class="lead">Check here to see your connections with professors and groups!</p>
      </div>
    </div>

    {% if user.is_professor %}
        {% if candidates %}
            <h2>All the candidates are shown here:</h2><br/>
            <div class="container">
                <div class="row">
                    {% for profile in candidates %}
                        {% include 'core/profile_card.html' %}
                        {% if forloop.counter|divisibleby:3 %}
                            <br>
                </div>
                <div class="row">

                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        {% else %}
            <strong>You currently do not have any candidates.</strong>
        {% endif %}

        <hr>
        {% if created_groups %}
            <h2>
                All the groups created are shown here:
                <br/>
            </h2>
            <div class="container">
                <div class="row">
                    {% for group in created_groups %}
                        <div class="col-4">
                        <!-- Display the card here! -->
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ group.title }}</h5>
                                    <p class="card-text">The members of the group are listed below:</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for member in group.members.all %}
                                        <li class="list-group-item">{{ member.user.username }}</li>
                                    {% endfor %}
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">

                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        {% else %}
            <h2>You currently don't creat any groups.</h2>
        {% endif %}
        <br>
        <a href="{% url 'core:create_group' %}" class="btn btn-primary">Create group</a>
    {% else %}
        {% if professors %}
            <h1>Related professors are shown below:</h1>
            <div class="container">
                <div class="row">
                    {% for profile in professors %}
                        {% include 'core/profile_card.html' %}
                        {% if forloop.counter|divisibleby:3 %}
                            <br>
                </div>
                <div class="row">

                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        {% else %}
            <h1>You currently don't have any related professors.</h1>
        {% endif %}
    {% endif %}
{% endblock %}