{% extends 'core/base.html' %}


{% block title_block %}
    Connections
{% endblock %}



{% block body_block %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Connections</h1>
        <p class="lead">Check here to see your connections with professors and groups!</p>
      </div>
    </div>

    {% if candidates %}
        <h2>All the candidates are shown here:</h2><br/>
        <div class="container">
            <div class="row">
                {% for candidate in candidates %}
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            {% if candidate.picture %}
                                <img src="{{ candidate.picture.url }}" class="card-img-top" alt="Profile Image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ candidate.user.username }}</h5>
                                <a href="#" class="btn btn-primary">Check message</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    {% else %}
        <strong>You currently do not have any candidates.</strong>
    {% endif %}

    <hr>
    {% if created_groups %}
        <h2>
            All the groups created are shown here:
        </h2>
    {% else %}
        <h2>You currently don't creat any groups.</h2>
    {% endif %}
    <br>
    <a href="{% url 'core:create_group' %}" class="btn btn-primary">Create group</a>
{% endblock %}