{% extends 'core/base.html' %}


{% block title_block %}
    file
{% endblock %}



{% block body_block %}
    {% if file %}
        <strong>{{ file.name }}</strong>
    {% else %}
        <strong>The specified file does not exist!</strong>
    {% endif %}

    <form method="post" action="{% url 'core:edit_file'  file.id %}">

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Save</button>
        <!-- Redirect to the same page and update the related information. -->


        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#shareModal">
            Share
        </button>

        <button type="button" class="btn btn-danger">Delete</button>
    </form>







        <!-- Pop up a form to let the user fill in the related information for sharing file. -->
        <!-- Modal -->
        <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Share</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <!-- Later change this action so that it will redirect to the page which can handle this request. -->
                <form method="post" action="{% url 'core:send_message' file.id %}">
                    {% csrf_token %}
                    {{ share_form.as_p }}
                  <div class="modal-footer">
                    <!-- One way to do this is to use a redirect button like <a>-->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>


        <!-- Should pop up a warning and let the user choose whether he wants to delete or not. -->



{% endblock %}