<!DOCTYPE html>


{% load staticfiles %}

<html>
<head>
	<title>FYP</title>
</head>
<body>
	<h1>
		This webpage should include a link to <strong>register page.</strong>
	</h1>

	<div>
		<h2>Possible reference:</h2>
		<a href="https://www.w3schools.com/howto/howto_css_login_form.asp">Login study</a>
		<a href="https://www.quora.com/?time=1580298360620354&uid=628431023&unh=ab05b2cedfdf43c52c5c325ba2f016bb">Possible result</a>
	</div>

	<div>
		<a href="/core/about">About</a>
	</div>
</body>
</html>