<div class="container">
    <div class="row">
        <!-- col-md-3 indicates the width of the card. -->
        <div class="col-md-3 col-md-offset-4 col-sm-6 col-xs-12 profile-badge">
            <img src="https://dummyimage.com/400x200/e85b27/e85b27">
            <div class="profile-pic">
                {% if profile.picture %}
                    <img src="{{ profile.picture.url }}">
                {% else %}
                    <img src="{{ MEDIA_URL }}test.png">
                {% endif %}
            </div>
            <div class="user-detail text-center">
              <h3>{{profile.user.first_name}}</h3>
              <h3>{{profile.user.last_name}}</h3>
              {% if profile.user.institution %}
                <span data-feather="map-pin"></span><p>{{profile.user.institution}}</p> <br>
              {% endif %}
                <span data-feather="mail"></span> <p>{{ profile.user.email }}</p> <br>
              {% if profile.user.self_website %}
                  <span data-feather="link"></span><a href="{{ profile.user.self_website }}">{{ profile.user.self_website }}</a>
                  <br>
              {% endif %}
              <button class="btn btn-secondary">Check</button><br>

            </div>
        </div>
    </div>
</div>

<style>
/* Add style rules here */
.profile-badge{
    border:0.5px solid #c1c1c1;
    padding:5px;
    position: relative;
}
.profile-badge img{
    height: 200px;
    width: 100%;
}
.user-detail{
    background-color: #fff;
    position: relative;
    padding:65px 0px 10px 0px;
    color:#8B8B89;
}
.user-detail h3{
    margin: 0px;
    margin:0px 0px 5px 0px;
    color: #000;
}
.user-detail p{
    font-size:14px;
    display: inline;
}
.user-detail .btn{
    margin-bottom:10px;
    background-color: #fff;
    border:1px solid #DEDEDE;
    border-radius: 0px;
    color:black;
}
.user-detail .btn i{
    color:#D35B4D;
    padding-right:18px;
}
.profile-pic{
    position: absolute;
    height:120px;
    width:120px;
    left: 50%;
    transform: translateX(-50%);
    top: 140px;
    z-index: 1001;
}
.profile-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px #c1c1c1;
}

.checkbox label{
    text-align: left;
    width: 100%;
}
.Following label{
    padding-bottom: 5px;
    border-bottom:1px solid #c2c2c2;
}
.checkbox label span{
    float:right;
}
</style>