{% extends 'core/base.html' %}


{% block title_block %}
    register
{% endblock %}


{% block body_block %}
    <div>
          <div class="jumbotron">
            <h1 class="display-3">My PhD</h1>
              <p class="lead">Register Here!</p>
          </div>

        <strong>Please indicate your identity:</strong>
        <form id="identity_form" method = "post" action="{% url 'core:redirected' %}"
            enctype="multipart/form-data">
        {% csrf_token %}
        {{ identity_form.as_p}}
        <input type="submit" name="submit" value="next step">
        </form>
	</div>


{% endblock %}