{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Send Message
{% endblock %}


{% block send_message_tag %}
    active
{% endblock %}

{% block body_block %}
    <h1>Compose Message</h1>
    <form action="{% url 'core:send_message' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ form_message.as_table }}
        </table>
        <a class="btn btn-primary" href="#groupfields" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="groupfields">
            Sent to groups
        </a>

        <div class="collapse" id="groupfields">
          <div class="card card-body">
            {{ form_group.as_p }}
          </div>
          <p>The repeat users will only be sent once.</p>
        </div>

        <br>
        <br>
        <input type="submit" value="send"/>
    </form>


{% endblock %}