{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Messages
{% endblock %}

{% block inbox_tag %}
    active
{% endblock %}

{% block body_block %}

    <!--A container for showing the header of the page. -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Messages</h1>
        <p class="lead">Checked the messages received here.</p>
      </div>
    </div>

    {% if messages %}
    <table class="table mb-0">
        <thead>
            <tr>
                <th>
                    Sender
                </th>

                <th>
                    Subject
                </th>

                <th>
                    Received
                </th>

                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            {% for message in messages %}
            <tr>
                <td>
                    {{ message.sender }}
                </td>
                <td>
                    {% if message.is_read %}
                        {{ message.subject }}
                    {% else %}
                        <strong>{{ message.subject }}</strong>
                    {% endif %}
                </td>

                <td>
                    {{ message.sent_at }}
                </td>

                <td>
                    <a href="#" class="btn btn-primary btn-sm">Check</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No messages.</p>
    {% endif %}

{% endblock %}