{% extends 'core/base.html' %}


{% block title_block %}
    Notifications
{% endblock %}


{% block Notification_tag %}
    active
{% endblock %}

{% block body_block %}
        <!--A container for showing the header of the page. -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Notifications</h1>
        <p class="lead">Checked the Notifications here.</p>
      </div>
    </div>

    {% if unread_notifications %}
        <a href="{% url 'core:mark_all_as_read' %}" class="btn btn-secondary">Mark all as read</a>

        <ul class="notifications">
          {% for notice in unread_notifications %}
            {% include 'core/notice.html' %}
          {% endfor %}
        </ul>
    {% else %}
        <h2> You don't have any unread notifications!</h2>
    {% endif %}



{% endblock %}